.navBar {
  display: flex;
  background-color: skyblue;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}

.link,
.signOut {
  color: black;
  padding: 5px 20px;
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
}
.link:hover {
  background-color: yellow;
  color: black;
}

.signOut:hover {
  background-color: red;
}

.title {
  margin-right: auto;
  margin-left: 15px;
  font-size: x-large;
}
